# 01 - Pandas Exam
This notebook contains 30 pandas practice questions based on a sample employee dataset.

### 1. Load the dataset `sample_employees.csv` into a DataFrame.

In [ ]:
import pandas as pd
pd.read_csv('data.csv', sep=',', header=0, index_col=0)

:

### 2. Display the first 5 rows of the DataFrame.

In [ ]:
# Your code here

### 3. What is the shape of the DataFrame?

In [ ]:
# Your code here

### 4. Print the column names.

In [ ]:
# Your code here

### 5. Get the data types of each column.

In [ ]:
# Your code here

### 6. Check if there are any missing values.

In [ ]:
# Your code here

### 7. Describe the DataFrame using `.describe()`.

In [ ]:
# Your code here

### 8. Sort the data by Salary in descending order.

In [ ]:
# Your code here

### 9. Filter rows where Age is greater than 30.

In [ ]:
# Your code here

### 10. Filter employees in the HR department.

In [ ]:
# Your code here

### 11. Count the number of employees in each department.

In [ ]:
# Your code here

### 12. Calculate the average Salary.

In [ ]:
# Your code here

### 13. What is the maximum Age?

In [ ]:
# Your code here

### 14. Add a new column called `Seniority_Level` with value 'Senior' if Age > 30, else 'Junior'.

In [ ]:
# Your code here

### 15. Rename the column 'Salary' to 'Annual_Salary'.

In [ ]:
# Your code here

### 16. Extract year from the 'Joining_Date' column.

In [ ]:
# Your code here

### 17. What is the average salary by department?

In [ ]:
# Your code here

### 18. Create a bar plot showing average salary per department.

In [ ]:
# Your code here

### 19. Drop the column `Joining_Date`.

In [ ]:
# Your code here

### 20. Reset the index of the DataFrame.

In [ ]:
# Your code here

### 21. Group by Department and count the number of people.

In [ ]:
# Your code here

### 22. Show employees who joined after 2020.

In [ ]:
# Your code here

### 23. What is the median age of all employees?

In [ ]:
# Your code here

### 24. Change all department names to uppercase.

In [ ]:
# Your code here

### 25. Create a pivot table with Department as index and average salary as values.

In [ ]:
# Your code here

### 26. Save the modified DataFrame to a new CSV file.

In [ ]:
# Your code here

### 27. Replace 'IT' with 'Tech' in the Department column.

In [ ]:
# Your code here

### 28. Add a new employee record to the DataFrame.

In [ ]:
# Your code here

### 29. Drop employees younger than 30.

In [ ]:
# Your code here

### 30. Export only the Name and Salary columns to a new CSV.

In [ ]:
# Your code here